<h4>I am fighting...</h4>

<div class="btn-group-vertical">

<% @all_categories.each do|category| %>
  <% if category.verses.blank? %>
    "No Verses Assigned to #{category}" <!-- #MAKE SURE TO INCORPORATE LOGIC TO CONSIDER BLANKS -->
  <% else %>
    <!-- <button type="button" class="btn btn-default">
    <b><%= link_to category.name, verse_path(category.verses.sample) %></b>
    </button> -->

    <button type="button" class="btn btn-default btn-lg btn-block"> <h1><%= link_to category.name, verse_path(category.verses.sample) %></h1> </button>

  <% end %>
<% end %>


<h6><small class="lead">"For the word of God is living and active and sharper than any two-edged sword..."</small></h6>
</div>
