<h6><small class="lead">"For the word of God is living and active and sharper than any two-edged sword..."</small></h6>
<h4>I am fighting...</h4>
<div class="btn-group-vertical">
<% @all_categories.each do|category| %>

<% if category.verses.blank? %>
"Bad Category" <!-- #MAKE SURE TO INCORPORATE LOGIC TO CONSIDER BLANKS -->
<% else %>

<button type="button" class="btn btn-default">
<b><%= link_to category.name, verse_path(category.verses.sample) %></b>
</button>
<% end %>

<% end %>
</div>
